<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innovativeproposals.inventorypokus2">

    <!--Toto odkomentuj-->
    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/inventory"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Toto odkomentuj-->
        <uses-library android:name="com.symbol.emdk" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Budova.ListBudova"
            android:label="@string/activity_zoznam_budov"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Poschodie.ListPoschodie"
            android:launchMode="singleTop"
            android:parentActivityName=".Budova.ListBudova" />
        <activity
            android:name=".Miestnosti.ListMiestnosti"
            android:launchMode="singleTop"
            android:parentActivityName=".Poschodie.ListPoschodie" />
        <activity
            android:name=".InventarVMiestnosti.ListInventarVMiestnosti"
            android:launchMode="singleTop"
            android:parentActivityName=".Miestnosti.ListMiestnosti">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SEARCH"/>-->
            <!--</intent-filter>-->
            <!--<meta-data-->
                <!--android:name="android.app.searchable"-->
                <!--android:resource="@xml/searchable" />-->
        </activity>
        <activity
            android:name=".InventarDeteil.ViewInventarDetail"
            android:label="@string/activity_InventarDetail"
            android:parentActivityName=".InventarVMiestnosti.ListInventarVMiestnosti" />
        <activity android:name=".InfoActivity" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>