<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innovativeproposals.inventorypokus2">

    <!--Toto musi byt zakomentovane emulator alebo android telefon
        <uses-permission android:name="com.symbol.emdk.permission.EMDK" />
    -->

    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>


    <uses-feature android:name="android.hardware.camera"></uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/inventory"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Toto musi byt zakomentovane emulator alebo android telefon
            <uses-library android:name="com.symbol.emdk" />
        -->
        <uses-library android:name="com.symbol.emdk" />


        <activity
            android:name=".MainActivity"
            android:label="@string/preference_description"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Budova.ListBudova"
            android:label="@string/activity_zoznam_budov"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Poschodie.ListPoschodie"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".Budova.ListBudova" />
        <activity
            android:name=".Miestnosti.ListMiestnosti"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".Poschodie.ListPoschodie" />
        <activity
            android:name=".InventarVMiestnosti.ListInventarVMiestnosti"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".Miestnosti.ListMiestnosti">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SEARCH"/>-->
            <!--</intent-filter>-->
            <!--<meta-data-->
                <!--android:name="android.app.searchable"-->
                <!--android:resource="@xml/searchable" />-->
        </activity>
        <activity
            android:name=".InventarDetail.ViewInventarDetail"
            android:label=""
            android:screenOrientation="portrait"
            android:parentActivityName=".InventarVMiestnosti.ListInventarVMiestnosti" />
        <activity android:name=".Info.InfoActivity"
            android:label="@string/info"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".Komunikacia.ImportDatabase"
            android:screenOrientation="portrait"
            android:label="@string/importData"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".Komunikacia.ExportDatabase"
            android:screenOrientation="portrait"
            android:label="@string/export_data"
            android:parentActivityName=".MainActivity"
            />
    </application>

</manifest>